finalbrevon8n.json
{
  "nodes": [
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4e39cd95-cd9c-4c7a-a6ce-36e948079a90",
      "name": "Split Emails",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        500,
        0
      ]
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "id": "494970e4-aab2-4bff-bef9-0a5961cd14e9",
      "name": "Wait 3 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1020,
        0
      ],
      "webhookId": "62345659-2bab-4745-a20e-134cc2e7a8b0"
    },
    {
      "parameters": {
        "functionCode": "const input = $json.body?.data;\n\nif (!Array.isArray(input)) {\n  throw new Error(\"Invalid input data. Expected 'data' to be an array.\");\n}\n\nreturn input.map(company => ({\n  json: {\n    name: company.name,\n    linkedinUrl: company.linkedinUrl,\n    email: company.email,\n  }\n}));\n\n"
      },
      "id": "c6b44483-702f-4c5a-aee8-1582b2707628",
      "name": "Extract Company Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "append",
        "sheetId": "1qCv-Tgwo-wLCcirSTfilSJGVsUvGX9mFTiRTbnuj5YU",
        "range": "sales!A:C",
        "options": {}
      },
      "id": "5319f611-f9e6-4361-b883-1e51ed6fdb7a",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        240,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "pVLphCM3OE9vX5lt",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-data",
        "options": {}
      },
      "id": "ce520b3f-58d7-4aba-8231-117ae29467dd",
      "name": "Webhook Trigger1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ],
      "webhookId": "c2869a94-e263-4b4d-a06e-14d62145e058"
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.brevo.com/v3/smtp/email",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "={\n  \"sender\": {\n    \"name\": \"Abhiram Yadav\",\n    \"email\": \"abhiram@aerobyte.in\"\n  },\n  \"to\": [\n    {\n      \"email\": \"{{$json.email}}\",\n      \"name\": \"{{$json.name}}\"\n    }\n  ],\n  \"subject\": \"Exciting Partnership Opportunity from AeroByte 🚀\",\n  \"htmlContent\": \"<p>Dear {{$json.name}},</p><p>I hope this message finds you well.</p><p>I am reaching out on behalf of <strong>AeroByte Innovations</strong>, a Hyderabad-based company specializing in AI-driven software solutions, including chatbots, AI web apps, and digital growth services.</p><p>We are impressed by the work your company is doing and would love to explore a strategic partnership that could bring value to both our organizations.</p><p>If you're open to a quick call or meeting, please let us know a convenient time.</p><br><p>Thank You.<br>Regards,</p><p><strong>Abhiram Yadav</strong><br>Business Analyst</p><p><img src=\\\"https://drive.google.com/uc?export=view&id=1cfMbCCD1clm7e6OwtXcDDyuG52myPpjB\\\" alt=\\\"AeroByte Innovations Logo\\\" width=\\\"150\\\" /></p><p><strong>Corporate Office:</strong><br>8th Floor, Vaishnavi's Cynosure, 2-48/5/6, Gachibowli Rd,<br>Opp. RTTC, Telecom Nagar Extension, Gachibowli,<br>Hyderabad, Telangana 500032</p><p><strong>Website:</strong> <a href=\\\"https://www.aerobyte.in/\\\" target=\\\"_blank\\\">www.aerobyte.in</a><br><strong>Phone:</strong> +91 6303450600<br><strong>Email:</strong> <a href=\\\"mailto:abhiram@aerobyte.in\\\">abhiram@aerobyte.in</a><br><strong>Location:</strong> <a href=\\\"https://maps.app.goo.gl/8x73CLy3mfHc16TL6\\\" target=\\\"_blank\\\">Google Maps</a></p>\"\n}\n",
        "headerParametersJson": "={\n  \"api-key\": \"XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX\"\n \n}\n"
      },
      "id": "XXXXXXXXXXXXXXXXXXXXXXXXXXXX",
      "name": "Send via Brevo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        780,
        0
      ],
      "retryOnFail": false
    }
  ],
  "connections": {
    "Split Emails": {
      "main": [
        [
          {
            "node": "Send via Brevo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3 seconds": {
      "main": [
        [
          {
            "node": "Split Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Company Data": {
      "main": [
        [
          {
            "node": "Update Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheet": {
      "main": [
        [
          {
            "node": "Split Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger1": {
      "main": [
        [
          {
            "node": "Extract Company Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via Brevo": {
      "main": [
        [
          {
            "node": "Wait 3 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d1b747b268f15c9cb248839df7c3d2c37b5504f1fe395e9b0b48bdf1395d383"
  }
}